/**Top menu**/
#horizontal-multilevel-menu,#horizontal-multilevel-menu ul
{
	font-family: "Roboto";
	font-weight: 400;
	margin:0;
	padding:0;
	/*background:#BC262C url(images/header_menu_bg.gif) repeat-x;*/
	/*min-height:27px;*/
	/*width:100%;*/
	list-style:none;
	font-size:16px;
	float:left;
	/*color: #b63737;*/
	/*font-size:90%*/
}


#horizontal-multilevel-menu {

}

#horizontal-multilevel-menu>span{
	cursor: pointer;

}

/*Links*/
#horizontal-multilevel-menu a,
#horizontal-multilevel-menu span
{
	display:block;
	padding:5px 10px;
	/*padding:0.3em 0.8em;*/
	text-decoration:none;
	text-align:center;
	cursor: pointer;
}

#horizontal-multilevel-menu li
{
	float:left;

}

/*Root items*/
#horizontal-multilevel-menu li a.root-item,
#horizontal-multilevel-menu li span.root-item
{
	color: inherit;
	font-weight:400;
	padding:7px 12px;
	border-bottom: 2px solid rgba(var(--c5),0);
	transition: all 0.3s ease-in-out;
}

/*Root menu selected*/
#horizontal-multilevel-menu li a.root-item-selected,
#horizontal-multilevel-menu li span.root-item-selected
{
	/*background:#fc8d3d;*/
	color:var(--c2);
	/*border-bottom: 2px solid rgba(var(--c5),1);*/
	font-weight:bold;
	padding:7px 12px;
}

/*Root items: hover*/
#horizontal-multilevel-menu li:hover a.root-item,
#horizontal-multilevel-menu li:hover span.root-item,
#horizontal-multilevel-menu li.jshover a.root-item,
#horizontal-multilevel-menu li.jshover span.root-item
{
	/*background: var(--c5);*/
	transform: translateY(-3px);
	/*border-bottom: 2px solid var(--c5);*/
	color:var(--c2);
}

/*Item-parents*/
#horizontal-multilevel-menu a.parent,
#horizontal-multilevel-menu span.parent
{
	background: url(images/arrow.gif) center right no-repeat;
}

/*Denied items*/
#horizontal-multilevel-menu a.denied,
#horizontal-multilevel-menu span.denied,
{
	background: url(images/lock.gif) center right no-repeat;
}

/*Child-items: hover*/
#horizontal-multilevel-menu li:hover,
#horizontal-multilevel-menu li.jshover
{
	/*background:#D6D6D6;*/
	color:var(--c2);
}

/*Child-items selected*/
#horizontal-multilevel-menu li.item-selected
{
	background:#D6D6D6;
	color:var(--c2);
}

/*Sub-menu box*/
#horizontal-multilevel-menu li ul
{
	position:absolute;
	/*top:-999em;*/
	top:auto;
	/*display:none;*/
	opacity: 0;
	transition: opacity 0.5s;
	z-index:500;

	height:auto;
	/*width:12em;*/
	width:200px;

	background: rgba(212, 205, 55, 0.60);
	backdrop-filter: blur(48.5px);
	/*background:#F5F5F5;*/
	/*border:1px solid #C1C1C1;*/
	color:inherit;
}

/*Sub-menu item box*/
#horizontal-multilevel-menu li li
{
	width:100%;
	border-bottom:1px solid var(--c2);
}

/*Item link*/
#horizontal-multilevel-menu li ul a,
#horizontal-multilevel-menu li ul span
{
	text-align:left;
	transition: color 0.3ms;
}

/*Items text color & size */
#horizontal-multilevel-menu li a,
#horizontal-multilevel-menu li:hover li a,
#horizontal-multilevel-menu li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li a,
#horizontal-multilevel-menu li span,
#horizontal-multilevel-menu li:hover li span,
#horizontal-multilevel-menu li.jshover li span,
#horizontal-multilevel-menu li:hover li:hover li span,
#horizontal-multilevel-menu li.jshover li.jshover li span,
#horizontal-multilevel-menu li:hover li:hover li:hover li span,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li span,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li span,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li span,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li span,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li span
{
	color:var(--c1);
	font-weight:400;
	transition: color 0.3s;
}

/*Items text color & size: hover*/
#horizontal-multilevel-menu li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover a
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover a,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover a,
#horizontal-multilevel-menu li:hover li:hover span,
#horizontal-multilevel-menu li.jshover li.jshover span,
#horizontal-multilevel-menu li:hover li:hover li:hover span,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover span,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover span,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover span,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover span,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover span,
#horizontal-multilevel-menu li:hover li:hover li:hover li:hover li:hover li:hover span,
#horizontal-multilevel-menu li.jshover li.jshover li.jshover li.jshover li.jshover li.jshover span
{
	color:var(--c2);
}

#horizontal-multilevel-menu li ul ul
{
	margin:-27px 0 0 199px;
	/*margin:-1.93em 0 0 11.6em;*/
}

#horizontal-multilevel-menu li:hover ul ul,
#horizontal-multilevel-menu li.jshover ul ul,
#horizontal-multilevel-menu li:hover ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul,
#horizontal-multilevel-menu li:hover ul ul ul ul ul,
#horizontal-multilevel-menu li.jshover ul ul ul ul ul
{
	/*top:-999em;*/
	/*display:none;*/
	opacity: 0;
	transition: opacity 0.5s;
}

#horizontal-multilevel-menu li:hover ul,
#horizontal-multilevel-menu li.jshover ul,
#horizontal-multilevel-menu li li:hover ul,
#horizontal-multilevel-menu li li.jshover ul,
#horizontal-multilevel-menu li li li:hover ul,
#horizontal-multilevel-menu li li li.jshover ul,
#horizontal-multilevel-menu li li li li:hover ul,
#horizontal-multilevel-menu li li li li.jshover ul,
#horizontal-multilevel-menu li li li li li:hover ul,
#horizontal-multilevel-menu li li li li li.jshover ul
{
	/*z-index:1000;
	top:auto;*/
	/*display:block;*/
	opacity: 1;
}

div.menu-clear-left
{
	clear:left;
}




/*========================*/
/*ul {*/
/*	font-family: "Roboto";*/
/*	font-weight: 300;*/
/*	color: var(--c2);*/
/*	display: flex;*/
/*	justify-content: space-between;*/
/*	a{*/
/*		text-decoration: none;*/
/*		font-family: "Roboto";*/
/*		font-weight: 300;*/
/*		color: var(--c2);*/
/*	}*/
/*li{*/
/*ul{*/
/*		display: none;*/
/*}*/
/*}*/
/*}*/
/*			li{*/
/*				display: none;*/
/*			}*/
/*li{*/
/* list-style: none;*/
/*}*/
/*li:hover{*/

/*}*/