:root {
  --c1: #212934;
  --c2: #F5F5F5;
  --c3: #59AB6E;
  --c4: #C6C031;
  --c5: #F6DE00;
  --c6: #3F45D3;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 18px;
  box-sizing: border-box;
  position: relative;
}
body a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}
body h1,
body h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 200;
  line-height: 48px; /* 100% */
}

.full-width {
  max-width: 100%;
}

.bx-breadcrumb {
  padding: 10px 0 0 20px;
}

.header {
  font-size: 11px;
  background-color: var(--c1);
  color: var(--c2);
  height: 60px;
  display: flex;
  align-items: center;
}

.header__items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__items p {
  margin: 0;
}
.header__items-wrapper {
  display: flex;
  justify-content: space-between;
}
.header__items-wrapper .header__items-work-time {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__items-wrapper .header__items-btn {
  margin: 0 10px;
  background-color: var(--c5);
  color: var(--c1);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.header__items-wrapper .header__items-btn .header__items-btn-link {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 10px;
  gap: 10px;
}
.header__items-wrapper .header__items-btn:hover {
  background-color: var(--c4);
}
.header__items-contacts {
  display: flex;
  align-items: center;
}
.header__items-contacts div {
  margin: 0 10px;
}

.header__items-social {
  font-size: 17px;
}
.header__items-social .social-link {
  margin-left: 5px;
}

.top_menu {
  width: 100%;
  height: 92px;
  color: var(--c1);
  background: rgba(212, 205, 55, 0.6);
  backdrop-filter: blur(48.5px);
  position: absolute;
  z-index: 100;
}
.top_menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.margin_top {
  margin-top: 92px;
}

.personal_inner {
  display: flex;
  align-items: center;
  color: var(--c2);
  column-gap: 10px;
}

.user_profile-lnk {
  display: flex;
  align-items: center;
  font-size: 16px;
  column-gap: 3px;
}

.cart {
  display: flex;
  align-items: center;
  color: var(--c2);
}
.cart_title {
  margin-left: 5px;
}
.cart .bx-basket-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 3px;
  font-size: 16px;
}

.slider__main {
  background-color: #d9d9d9;
}
.slider__main .slick-dotted.slick-slider {
  margin-bottom: 0;
}

.slider {
  overflow: hidden;
  height: calc(100vh - 152px);
}

.slider-wrapper {
  width: 50%;
  height: 100%;
  left: 0;
  background: rgba(217, 217, 217, 0.6);
  backdrop-filter: blur(17px);
  position: relative;
}
.slider-wrapper .wrapper_content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 65%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.slider-wrapper .wrapper_content .wrapper_content-title {
  font-size: 36px;
  font-weight: 400;
  padding-bottom: 26px;
}
.slider-wrapper .wrapper_content .wrapper_content-text {
  font-size: 20px;
}
.slider-wrapper .wrapper_content .wrapper_content-feachers {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.slider-wrapper .wrapper_content .wrapper_content-feachers .feacher-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.slider-wrapper .wrapper_content .wrapper_content-feachers .feacher-item .feacher-item-img img {
  object-fit: none;
  width: 70px;
  height: 70px;
  margin-bottom: 30px;
}
.slider-wrapper .wrapper_content .wrapper-btn {
  background-color: var(--c5);
  border: 1px solid #EAD407;
  border-radius: 5px;
  max-width: 205px;
  text-align: center;
  transition: 0.3s;
  box-shadow: 0 4px 22px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;
  position: relative;
}
.slider-wrapper .wrapper_content .wrapper-btn::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 400%;
  background: linear-gradient(to top, var(--c2) 50%, var(--c5) 70%);
  z-index: 4;
  transition: 0.3s;
}
.slider-wrapper .wrapper_content .wrapper-btn:hover.wrapper-btn::after {
  transform: translateY(-75%);
}
.slider-wrapper .wrapper_content .wrapper-btn a {
  padding: 15px 20px;
  display: inline-block;
  position: relative;
  z-index: 5;
}

div.news-list {
  word-wrap: break-word;
}

div.news-list img.preview_picture {
  float: left;
  margin: 0 4px 6px 0;
}

.news-date-time {
  color: #486DAA;
}

.box {
  width: 300px;
  height: 300px;
  background: linear-gradient(0deg, white 50%, var(--c5)) 0;
  border: 1px solid black;
  background-size: 100px 100px;
}

.my__slide {
  width: 300px;
  height: 300px;
}

.catalog_main-sections {
  padding-top: 65px;
  padding-bottom: 65px;
  background-color: #D9D9D9;
}
.catalog_main-sections .main-sections-inner {
  text-align: center;
  margin-bottom: 20px;
}
.catalog_main-sections .main-sections-inner .main-sections-title {
  margin-bottom: 20px;
}
.catalog_main-sections .main-sections-inner .main-sections-subtitle {
  width: 620px;
  margin: 0 auto 50px;
}
.popular_products {
  padding: 50px 0 80px;
  background-color: #E9EEF5;
  text-align: center;
}
.popular_products-subtitle {
  margin: 20px auto 50px;
  width: 620px;
}

.main-sections-title {
  text-align: center;
  margin-bottom: 80px;
}

.footer {
  color: var(--c2);
  background-color: var(--c1);
}
.footer__items {
  padding: 65px 0 30px 0;
}
.footer__items .footer__item-title {
  font-size: 30px;
  margin-bottom: 40px;
}
.footer__items .footer__item-title.logo {
  margin-top: -19px;
}
.footer__items .footer__item-content {
  font-size: 18px;
}
.footer__items .footer__item-content a {
  font-weight: 300;
}
.footer__items .footer__item-content.adress div {
  margin-bottom: 12px;
}
.footer__items .footer__item-content i {
  padding: 0 6px;
}
.footer__items .footer__item-content ul {
  color: var(--c2);
}
.footer__items .footer__item-content ul li {
  list-style: none;
  padding: 6px 0;
}
.footer__items .footer__item-content ul li a {
  font-weight: 300;
}

.footer__bottom {
  margin-bottom: 50px;
}

.footer__bottom .social-link {
  font-size: 26px;
}
.footer__bottom .social-link i {
  margin-right: 13px;
}

.footer__bottom-wrapper {
  background-color: #1D242D;
  text-align: left;
  font-size: 14px;
  line-height: 3;
}
.footer__bottom-wrapper a {
  color: #0a7ddd;
}

.slider__test .slider {
  height: calc(100vh - 152px);
}

.map {
  text-align: center;
  margin-bottom: 80px;
}

.contacts {
  margin-bottom: 80px;
}

.contacts__title {
  font-size: 48px;
  font-weight: 200;
  margin-bottom: 60px;
}

.m-l-30 {
  font-size: 18px;
}

.subSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(63, 69, 211, 0.1);
  border-radius: 6px;
  padding: 0 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
.subSection .fa-chevron-down {
  transition: transform 0.3s ease-in-out;
}
.subSection.active .fa-chevron-down {
  transform: rotate(180deg);
}
.subSection .subSection__inner {
  display: flex;
}
.subSection .subSection__inner .subSection__title {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 10px;
}
.subSection .subSection__inner .subSection__title h2 {
  font-size: 24px;
}
.subSection .subSection__inner .subSection__title h2 i {
  margin-right: 5px;
  color: gray;
}
.subSection .subSection__inner .subSection__title .subSection__count {
  font-size: 0.8rem;
  margin: auto 0;
  font-weight: 200;
}

.subSection__items {
  font-size: 22px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-out;
}
.subSection__items .m-l-30 {
  margin-left: 20px;
  padding: 10px 30px;
  font-size: 18px;
}

.sale-item {
  border-radius: 6px;
  margin: 5px 0;
  background-color: rgba(63, 69, 211, 0.05);
  padding: 10px;
}
.sale-item a {
  color: var(--c6);
  font-weight: 200;
}
.sale-item div {
  margin-bottom: 5px;
}

.ATT_adress {
  display: flex;
  column-gap: 10px;
}

.ATT_Phone a + a {
  margin-left: 15px;
}

.sale-name {
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--c1);
}

.sale-item i {
  color: var(--c1);
  margin-right: 10px;
}

.galery-items, .items {
  display: grid;
  grid-template-columns: repeat(3, 358px);
  gap: 20px;
}

.galery-foto-item {
  height: 358px;
  position: relative;
}
.galery-foto-item .preview_picture {
  height: 100%;
  object-fit: cover;
  filter: brightness(1);
  transition: filter 0.3s ease-in-out;
}
.galery-foto-item .preview_picture:hover {
  filter: brightness(0.55);
}

.img-after {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s, top 0.5s;
  pointer-events: none;
}

.galery-foto-item:hover .img-after {
  opacity: 0.77;
  top: 50%;
}

.look {
  fill: var(--c5);
}

/*# sourceMappingURL=template_styles.css.map */
