div.modern-page-navigation {
	padding: 0.5em 0;
	text-align: right;}
div.modern-page-navigation a,
span.modern-page-current,
span.modern-page-dots
{
	/*border-left-width: 1px;*/
	/*border-left-style: solid;*/
	/*padding-left: 0.75em;*/
	/*padding-right: 0.75em;*/
	text-decoration: none;
	/*background-color: var(--c5);*/
	/*line-height: 1.5;*/
	/*text-align: right;*/
	padding: 0.5em 0.75em;
}
div.modern-page-navigation a.modern-page-previous {
	/*border-right-width: 1px;*/
	/*border-right-style: solid;*/
	border-left: none; }
div.modern-page-navigation a.modern-page-first,
div.modern-page-navigation span.modern-page-first {
	border-left: none;
	padding-left: 0.75em; }

span.modern-page-current {
	font-weight: 500;
	/*font-weight: var(--ui-font-weight-bold);*/
	background-color: var(--c5);
}
div.modern-page-navigation a,
span.modern-page-current,
div.modern-page-navigation a.modern-page-previous,
span.modern-page-dots {
	border-color: #cdcdcd; }
div.modern-page-navigation #111,
#111,
.modern-page-next{
	background-color: transparent;
}
